@import url('https://fonts.googleapis.com/css2?family=Genos&family=Tilt+Warp&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/*! |||||||||||||||||||||||||||| */
:root {
    /** Font's */
    --header-heading: 'Genos', sans-serif;
    --a-header: 'Tilt Warp', cursive;
    --logo-title: 'Fira Code', monospace;
    --a-font: 'Ubuntu', sans-serif;
    --main-heading: 'Josefin Sans', sans-serif;

    /** Color's */
    --red-royal: linear-gradient(90deg, hwb(0 0% 85%) 0%, hwb(359 0% 50%) 50%, hwb(0 0% 85%) 100%);

    /** Margin & Padding */
    --main-margin: 50px 100px;
}

/*! ||||||||||||||||||||||||||| */
.line-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lineTwo {
    border: 3px solid red;
    width: 30vw;
}

.left-line {
    animation: LeftToRight 1s ease forwards 0s;
    -webkit-animation: LeftToRight 1s ease forwards 0s;
}

.right-line {
    animation: RightToLeft 1s ease forwards 0s;
    -webkit-animation: RightToLeft 1s ease forwards 0s;
}

.line-heading {
    padding: 0 3em;
}

/*! |||||||||||||||||||||||||||  */

@keyframes LeftToRight {
    0% {
        transform: translateX(-1000px);
        -webkit-transform: translateX(-1000px);
        -moz-transform: translateX(-1000px);
        -ms-transform: translateX(-1000px);
        -o-transform: translateX(-1000px);
    }

    100% {
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
    }
}

@keyframes RightToLeft {
    0% {
        transform: translateX(1000px);
        -webkit-transform: translateX(1000px);
        -moz-transform: translateX(1000px);
        -ms-transform: translateX(1000px);
        -o-transform: translateX(1000px);
    }

    100% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}

@keyframes TopToBottom {
    0% {
        transform: translateY(-1000px);
        -webkit-transform: translateY(-1000px);
        -moz-transform: translateY(-1000px);
        -ms-transform: translateY(-1000px);
        -o-transform: translateY(-1000px);
    }

    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

@keyframes BottomToTop {
    0% {
        transform: translateY(1000px);
        -webkit-transform: translateY(1000px);
        -moz-transform: translateY(1000px);
        -ms-transform: translateY(1000px);
        -o-transform: translateY(1000px);
    }

    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

/*! |||||||||||||||||||||||||||  */