@import url('https://fonts.googleapis.com/css2?family=Genos&family=Tilt+Warp&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/*! |||||||||||||||||||||||||||| */
:root {
    /** Font's */
    --header-heading: 'Genos', sans-serif;
    --a-header: 'Tilt Warp', cursive;

    /** Color's */
    --red-royal: linear-gradient(90deg, #070000 0%, #4c0001 50%, #070000 100%);
    --premium-blue: linear-gradient(90deg, #b7f8db 0%, #50a7c2 100%);
    --metal-white: linear-gradient(90deg, #ada996 0%, #f2f2f2 33%, #dbdbdb 66%, #eaeaea 100%);
}

/*! |||||||||||||||||||||||||||  */



/*! |||||||||||||||||||||||||||  */