/*! HEADER  */
.index-header {
    position: fixed;
    width: 100%;
    z-index: 10;
}

/* * header-heading */
.header-heading {
    text-align: center;
    background-color: wheat;
    padding: .2em 0;
    font-family: var(--header-heading);
    font-weight: 900;
    font-size: .9em;
    letter-spacing: .3em;
}

/* * nav */
nav {
    position: relative;
    padding: .3em 5em;
    background: hwb(0 0% 85%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: wheat;
}

.logo {
    display: flex;
    align-items: end;
    justify-content: center;
    overflow: hidden;
    height: auto;
    animation: LeftToRight 1s ease forwards 0s;
    -webkit-animation: LeftToRight 1s ease forwards 0s;
}

.logo-img>img {
    width: 3em;
    height: 3em;
}

.logo-name {
    font-family: var(--logo-title);
    font-size: 20px;
    font-weight: 600;
}

.logo-name>p>span {
    color: red;
}

.logo-name-greaterthan {
    padding: .3em;
}

.navigation-detail {
    overflow: hidden;
    height: auto;
    animation: RightToLeft 1s ease forwards 0s;
    -webkit-animation: RightToLeft 1s ease forwards 0s;
}

.navigation-detail>ul {
    display: flex;
    align-items: center;
}

.navigation-detail>ul>li {
    list-style: none;
    margin: 0 2em;
}

.navigation-detail>ul>li>a {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--a-font);
}

.navigation-detail>ul>li>a:hover {
    color: red;
    transition: .4s ease-in-out;
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -ms-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
}

.navigation-detail>ul>li>a>span {
    display: block;
}

.navigation-mobile {
    display: none;
    animation: RightToLeft 1s ease forwards 0s;
    -webkit-animation: RightToLeft 1s ease forwards 0s;
}

.navigation-mobile>i {
    font-size: 1.5em;
}

.navigation-mobile>i:hover {
    scale: .8;
    color: red;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

/** leng-detail */
.leng-detail {
    background-color: hwb(0 0% 15%);
    box-shadow: inset 0 0 3px black;
    color: wheat;
    font-family: var(--a-font);
    /* overflow-y: auto; */
    height: fit-content;
}

.code-detail>p {
    padding: 5px 0;
    text-decoration: none;
    font-weight: 600;
    animation: LeftToRight 2s ease forwards 0s;
    -webkit-animation: LeftToRight 2s ease forwards 0s;
}

.code-detail>p:hover {
    color: black;
}

.code-detail>p:active {
    color: black;
}

.hover {
    position: relative;
    display: inline-block;
    margin: 0 1em;
}

.down {
    position: absolute;
    display: none;
    cursor: pointer;
    background-color: hwb(0 0% 15%);
    width: 10vw;
    padding: .5em 1em;
    box-shadow: 0 0 5px white inset;
}

.hover:hover .down {
    display: block;
}

.code-page {
    padding: .2em 1em;
}

.code-page>ul>li {
    list-style: none;
    padding: .5em 0;
    border-bottom: 2px solid white;
}

.code-page>ul>li:last-child {
    border: none;
}

.code-page>ul>li>a {
    text-decoration: none;
    color: wheat;
}

.code-page>ul>li>a:hover {
    color: black;
}

.code-page>ul>li>a:active {
    color: black;
}

/*! Footer */
.index-footer {
    background: var(--red-royal);
}

.footer-bg {
    position: relative;
    background: url(./footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 43vh;
}

.footer-container {
    position: absolute;
    bottom: 0;
    color: white;
    padding: 0 2em 1em 2em;
    display: flex;
    align-items: center;
}

.footer-title p {
    color: gray;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-contact>ul {
    display: flex;
    padding: .5em 0;
}

.footer-contact>ul>li {
    list-style: none;
    margin: 0 1em;
}

.footer-contact>ul>li>a>img {
    width: 3.5vw;
}

.footer-in-footer {
    width: 100%;
    bottom: 0;
    font-size: .8em;
    padding: .3em 0;
    text-align: center;
    color: black;
    background-color: wheat;
    font-family: var(--header-heading);
    font-weight: 600;
}

.index-footer h3 {
    font-family: var(--main-heading);
}

.index-footer p {
    font-family: var(--normal-roboto);
}