/*! HEADER  */
.index-header {
    position: fixed;
    width: 100%;
}

/* * header-heading */
.header-heading {
    text-align: center;
    background-color: wheat;
    padding: .2em 0;
    font-family: var(--header-heading);
    font-weight: 900;
    font-size: .9em;
    letter-spacing: .3em;
    overflow: hidden;
    height: auto;
}

.header-heading>p {
    animation: LeftToRight .5s ease forwards .5s;
    -webkit-animation: LeftToRight .5s ease forwards .5s;
    transform: translateX(1000px);
    -webkit-transform: translateX(1000px);
    -moz-transform: translateX(1000px);
    -ms-transform: translateX(1000px);
    -o-transform: translateX(1000px);
}

/* * nav */
nav {
    padding: .3em 5em;
    background: hwb(0 0% 85%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: wheat;
}

.logo {
    display: flex;
    align-items: end;
    justify-content: center;
    overflow: hidden;
    height: auto;
    animation: RightToLeft 1s ease forwards .5s;
    -webkit-animation: RightToLeft 1s ease forwards .5s;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
}

.logo-img>img {
    width: 3em;
    height: 3em;
}

.logo-name {
    font-family: var(--logo-title);
    font-size: 20px;
    font-weight: 600;
}

.logo-name>p>span {
    color: red;
}

.logo-name-greaterthan {
    padding: .3em;
}

.navigation {
    overflow: hidden;
    height: auto;
    animation: LeftToRight 1s ease forwards .5s;
    -webkit-animation: LeftToRight 1s ease forwards .5s;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
}

.navigation>ul {
    display: flex;
    align-items: center;
}

.navigation>ul>li {
    list-style: none;
    margin: 0 2em;
}

.navigation>ul>li>a {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--a-font);
}

.navigation>ul>li>a:hover {
    text-shadow: 0 0 3px red;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

.navigation>ul>li>a>span {
    display: block;
}

.navigation-mobile {
    display: none;
    overflow: hidden;
    height: auto;
    animation: LeftToRight 1s ease forwards .5s;
    -webkit-animation: LeftToRight 1s ease forwards .5s;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
}

/** leng-detail */
.leng-detail {
    background-color: hwb(0 0% 15%);
    box-shadow: inset 0 0 3px black;
    color: wheat;
    font-family: var(--a-font);
}

.code-detail>p {
    padding: 5px 0;
    text-decoration: none;
    font-weight: 600;
}

.hover {
    position: relative;
    display: inline-block;
    margin: 0 1em;
}

.down {
    position: absolute;
    display: none;
    cursor: pointer;
    background-color: hwb(0 0% 15%);
    width: 10vw;
    padding: .5em 1em;
}

.hover:hover .down {
    display: block;
}

.code-page {
    padding: .5em 2em;
}

.code-page>ul>li>a {
    text-decoration: none;
    color: wheat;
}

/*! MAIN */
.index-main {
    height: 100vh;
    background: var(--red-royal);
    padding: 7.1em 0 0 0;
    text-shadow: 0 0 1px black;
    color: white;
}