/*! MAIN */
.index-main {
    background: var(--red-royal);
    padding: 7.1em 0 0 0;
    text-shadow: 0 0 1px black;
    color: white;
    z-index: 1;
}

/** main-title */
.main-title {
    margin: 0 50px 25px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: -1;
    padding: 3em 0 0 0;
}

.main-title-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-title-about>div:first-child {
    display: flex;
    align-items: center;
    margin: .5em 0;
}

.main-title-about>div:first-child>div>h2 {
    font-family: var(--main-heading);
    animation: TopToBottom .5s ease forwards 0s;
    -webkit-animation: TopToBottom .5s ease forwards 0s;
}

.main-title-about>div:last-child>ul {
    display: flex;
}

.main-title-about>div:last-child>ul>li {
    list-style: none;
    padding: 1em 1em;
    font-family: var(--a-font);
}

.main-title-about>div:last-child>ul>li:nth-child(5) {
    height: auto;
    overflow: hidden;
    animation: LeftToRight 1s ease forwards 0s;
    -webkit-animation: LeftToRight 1s ease forwards 0s;
}

.main-title-about>div:last-child>ul>li:nth-child(4) {
    height: auto;
    overflow: hidden;
    animation: LeftToRight 1.3s ease forwards 0s;
    -webkit-animation: LeftToRight 1.3s ease forwards 0s;
}

.main-title-about>div:last-child>ul>li:nth-child(3) {
    height: auto;
    overflow: hidden;
    animation: LeftToRight 1.6s ease forwards 0s;
    -webkit-animation: LeftToRight 1.6s ease forwards 0s;
}

.main-title-about>div:last-child>ul>li:nth-child(2) {
    height: auto;
    overflow: hidden;
    animation: LeftToRight 1.9s ease forwards 0s;
    -webkit-animation: LeftToRight 1.9s ease forwards 0s;
}

.main-title-about>div:last-child>ul>li:nth-child(1) {
    height: auto;
    overflow: hidden;
    animation: LeftToRight 2.2s ease forwards 0s;
    -webkit-animation: LeftToRight 2.2s ease forwards 0s;
}

.main-title-img>img {
    width: 30vw;
    box-shadow: 0 0 5px black;
    animation: RightToLeft 2s ease forwards 0s;
    -webkit-animation: RightToLeft 2s ease forwards 0s;
    border-radius: 20px 40px 20px 40px;
    -webkit-border-radius: 20px 40px 20px 40px;
    -moz-border-radius: 20px 40px 20px 40px;
    -ms-border-radius: 20px 40px 20px 40px;
    -o-border-radius: 20px 40px 20px 40px;
}

/** slideshow-container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.mySlides>img {
    box-shadow: 0 0 5px wheat;
    margin: 1em 0;
    border-radius: 20px 40px 20px 40px;
    -webkit-border-radius: 20px 40px 20px 40px;
    -moz-border-radius: 20px 40px 20px 40px;
    -ms-border-radius: 20px 40px 20px 40px;
    -o-border-radius: 20px 40px 20px 40px;
}

.mySlideshow-detail {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: .5em 0 1.5em 0;
}

.mySlideshow-detail>p {
    font-family: var(--logo-title);
    font-size: 1.1em;
    letter-spacing: .1em;
    font-weight: 600;
}

/** Language's */

.code {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: var(--main-margin); */
    padding: var(--main-margin);
}

.code-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.output-code {
    width: 50%;
}

.code-display {
    height: 60vh;
}

.code-title>h3 {
    font-family: var(--logo-title);
    font-size: 1.4em;
    color: wheat;
}

.code-title>div {
    margin: 1em 0;
}

.code-title>div>img {
    width: 15vw;
}

.code-btn:hover .code-title>div>img {
    scale: .9;
}