/*! HEADER  */
.index-header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

/* * header-heading */
.header-heading {
    text-align: center;
    background-color: wheat;
    padding: .2em 0;
    font-family: var(--header-heading);
    font-weight: 900;
    font-size: .9em;
    letter-spacing: .3em;
}

/* * nav */
nav {
    position: relative;
    padding: .3em 5em;
    background: hwb(0 0% 85%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: wheat;
}

.logo {
    display: flex;
    align-items: end;
    justify-content: center;
    overflow: hidden;
    height: auto;
    animation: LeftToRight 1s ease forwards 0s;
    -webkit-animation: LeftToRight 1s ease forwards 0s;
}

.logo-img>img {
    width: 3em;
    height: 3em;
}

.logo-name {
    font-family: var(--logo-title);
    font-size: 20px;
    font-weight: 600;
}

.logo-name>p>span {
    color: red;
}

.logo-name-greaterthan {
    padding: .3em;
}

.navigation-detail {
    overflow: hidden;
    height: auto;
    animation: RightToLeft 1s ease forwards 0s;
    -webkit-animation: RightToLeft 1s ease forwards 0s;
}

.navigation-detail>ul {
    display: flex;
    align-items: center;
}

.navigation-detail>ul>li {
    list-style: none;
    margin: 0 2em;
}

.navigation-detail>ul>li>a {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--a-font);
}

.navigation-detail>ul>li>a:hover {
    color: red;
    transition: .4s ease-in-out;
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -ms-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
}

.navigation-detail>ul>li>a>span {
    display: block;
}

.navigation-mobile {
    display: none;
    animation: RightToLeft 1s ease forwards 0s;
    -webkit-animation: RightToLeft 1s ease forwards 0s;
}

.navigation-mobile>i {
    font-size: 1.5em;
}

.navigation-mobile>i:hover {
    scale: .8;
    color: red;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

/** leng-detail */
.leng-detail {
    background-color: hwb(0 0% 15%);
    box-shadow: inset 0 0 3px black;
    color: wheat;
    font-family: var(--a-font);
}

.code-detail>p {
    padding: 5px 0;
    text-decoration: none;
    font-weight: 600;
    animation: LeftToRight 2s ease forwards 0s;
    -webkit-animation: LeftToRight 2s ease forwards 0s;
}

.hover {
    position: relative;
    display: inline-block;
    margin: 0 1em;
}

.down {
    position: absolute;
    display: none;
    cursor: pointer;
    background-color: hwb(0 0% 15%);
    width: 10vw;
    padding: .5em 1em;
    box-shadow: 0 0 5px white inset;
}

.hover:hover .down {
    display: block;
}

.code-page {
    padding: .5em 2em;
}

.code-page>ul>li>a {
    text-decoration: none;
    color: wheat;
}

/*! MAIN */
.index-main {
    background: var(--red-royal);
    padding: 7.1em 0 0 0;
    text-shadow: 0 0 1px black;
    color: white;
}

/** main-title */
.main-title {
    margin: var(--main-margin);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: -1;
}

.main-title-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-title-about>div:first-child {
    display: flex;
    align-items: center;
}

.main-title-about>div:first-child>div>h2 {
    font-family: var(--main-heading);
    animation: TopToBottom .5s ease forwards 0s;
    -webkit-animation: TopToBottom .5s ease forwards 0s;
}

.main-title-about>div:last-child>ul {
    display: flex;
}

.main-title-about>div:last-child>ul>li {
    list-style: none;
    padding: 1em 1em;
    font-family: var(--a-font);
}

.main-title-about>div:last-child>ul>li:nth-child(5) {
    height: auto;
    overflow: hidden;
    animation: LeftToRight 1s ease forwards 0s;
    -webkit-animation: LeftToRight 1s ease forwards 0s;
}

.main-title-about>div:last-child>ul>li:nth-child(4) {
    height: auto;
    overflow: hidden;
    animation: LeftToRight 1.3s ease forwards 0s;
    -webkit-animation: LeftToRight 1.3s ease forwards 0s;
}

.main-title-about>div:last-child>ul>li:nth-child(3) {
    height: auto;
    overflow: hidden;
    animation: LeftToRight 1.6s ease forwards 0s;
    -webkit-animation: LeftToRight 1.6s ease forwards 0s;
}

.main-title-about>div:last-child>ul>li:nth-child(2) {
    height: auto;
    overflow: hidden;
    animation: LeftToRight 1.9s ease forwards 0s;
    -webkit-animation: LeftToRight 1.9s ease forwards 0s;
}

.main-title-about>div:last-child>ul>li:nth-child(1) {
    height: auto;
    overflow: hidden;
    animation: LeftToRight 2.2s ease forwards 0s;
    -webkit-animation: LeftToRight 2.2s ease forwards 0s;
}

.main-title-img>img {
    width: 30vw;
    box-shadow: 0 0 5px black;
    animation: RightToLeft 2s ease forwards 0s;
    -webkit-animation: RightToLeft 2s ease forwards 0s;
    border-radius: 20px 40px 20px 40px;
    -webkit-border-radius: 20px 40px 20px 40px;
    -moz-border-radius: 20px 40px 20px 40px;
    -ms-border-radius: 20px 40px 20px 40px;
    -o-border-radius: 20px 40px 20px 40px;
}

/** slideshow-container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}