@media screen and (max-width:1185px) {
    .linkPage-aside {
        width: 20vw;
        top: 18.4vh;
        height: 81vh;
    }

    .page-link>ul>li>a {
        font-size: 1.5vw;       
    }

    .aside-heading {
        font-size: 2vh;
    }
}