/*! linked-page (main) */
.linked-page {
    padding: 7em 0 0 0;
    position: relative;
    display: flex;
}

aside {
    position: sticky;
    top: 7.2vw;
    height: 85.5vh;
    overflow: auto;
    border-right: 3px solid red;
    width: 15vw;
}

aside>ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside>ul>li {
    list-style: none;
    margin: .4em 0;
    background-color: aqua;
    width: 100%;
}

aside>ul>li>a {
    color: white;
    text-decoration: none;
    /* padding: .4vh 2vw; */
}