/*! linked-page (main) */
.linked-page {
    padding: 7em 0 0 0;
    position: relative;
    display: flex;
    position: relative;
}

.linkPage-aside {
    position: sticky;
    top: 15vh;
    height: 84.7vh;
    overflow: auto;
    border-right: 3px solid red;
    border-bottom: 3px solid red;
    width: 15vw;
}

.page-link>ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-link>ul>li {
    list-style: none;
    width: 100%;
    padding: .5vh 0 .5vh .4em;
    border-top: 2px solid white;
    border-bottom: 1px solid white;
}

.page-link>ul>li>a {
    color: white;
    text-decoration: none;
    font-size: 1vw;
    font-family: var(--a-font);
}

.page-link>ul>li>a:hover {
    color: lightgray;
}

.aside-heading {
    padding: .2vw 0;
    font-size: 1vw;
    text-align: center;
    color: wheat;
    font-family: var(--header-heading);
}

.page-topic {
    margin: var(--MP-all-3vw);
    width: 100%;
    color: white;
}