/*! linked-page (main) */
.linked-page {
    padding: 7em 0 0 0;
    position: relative;
}

.linked-page {
    display: flex;
}

aside {
    width: 15%;
    border-right: 2px solid white;
}

.aside-list {
    height: 100vh;
    overflow: auto;
}

.page-topic {
    width: 85%;
    /* background-color: blue; */
}