@media screen and (max-width:1075px) {
    :root {
        --main-margin: 50px 50px;
    }

    /* * main-title */

    .line {
        margin: 0 1em;
    }
}

@media screen and (max-width:850px) {

    /* * nav */
    nav {
        padding: .3em 2em;
    }

    .navigation-detail>ul>li {
        margin: 0 1em;
    }

    /* * leng-detail */
    .down {
        width: 20vw;
    }
}

@media screen and (max-width:750px) {

    /* * main-title */
    .main-title-about>div>h2 {
        font-size: 3vw;
    }

    .line {
        width: 7vw;
    }
}

@media screen and (max-width:600px) {
    :root {
        --main-margin: 25px 25px;
    }

    /* * nav */
    nav {
        padding: .1em 1em;
    }

    .navigation-detail>ul>li {
        margin: 0 .5em;
    }

    /* * leng-detail */
    .down {
        width: 30vw;
    }

    /*! Main  */
    .index-main {
        padding: 6.7em 0 0 0;
    }
}

/* * Android response is here */
@media screen and (max-width:450px) {

    .navigation-detail>ul {
        flex-direction: column;
    }

    .navigation-detail>ul>li {
        margin: .5em 0;
    }

    .navigation-mobile {
        display: block;
        font-size: 20px;
    }

    .navigation-detail {
        position: absolute;
        background-color: hwb(0 0% 15%);
        padding: .5em;
        box-shadow: -1px 1px 4px rgba(255, 255, 255, 0.5);
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
        border-radius: 0 0 0 30px;
        -webkit-border-radius: 0 0 0 30px;
        -moz-border-radius: 0 0 0 30px;
        -ms-border-radius: 0 0 0 30px;
        -o-border-radius: 0 0 0 30px;
        /* top: -1000px; */
        /* right: 0; */
        right: -1000px;
        top: 85px;
    }

    .navigation-response {
        padding: .5em;
        /* top: 85px; */
        right: 0;
    }

    /* * leng-detail */
    .down {
        width: 40vw;
    }

    /* * main-title */
    .line {
        border: .1em solid red;
        width: 5vw;
    }
}