@media screen and (max-width:850px) {

    /* * nav */
    nav {
        padding: .3em 2em;
    }

    .navigation>ul>li {
        margin: 0 1em;
    }

    /* * leng-detail */
    .down {
        width: 20vw;
    }
}

@media screen and (max-width:600px) {

    /* * nav */
    nav {
        padding: .1em 1em;
    }

    .navigation>ul>li {
        margin: 0 .5em;
    }

    /* * leng-detail */
    .down {
        width: 30vw;
    }
}

@media screen and (max-width:450px) {
    .navigation>ul {
        flex-direction: column;
    }

    .navigation>ul>li {
        margin: .5em 0;
    }

    .navigation-mobile {
        display: block;
        font-size: 20px;
    }

    .navigation {
        position: absolute;
        top: -1000px;
        background-color: red;
        right: 0;
        z-index: -1;
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
        border-radius: 0 0 0 30px;
        -webkit-border-radius: 0 0 0 30px;
        -moz-border-radius: 0 0 0 30px;
        -ms-border-radius: 0 0 0 30px;
        -o-border-radius: 0 0 0 30px;
}
    
    .navigation-response {
        padding: .5em;
        top: 7em;
    }

}