.webBrowserImg>img {
    width: 70vw;
    margin: 1em 0;
    border: var(--border-1pxSolid-black);
}

.structure {
    margin: 1em;
    padding: 1em;
    background-color: var(--gray);
    border: var(--border-1pxSolid-white);
    color: var(--white-text);
}

.structure div {
    padding: 1em 0;
    margin: 1em;
    border: var(--border-1pxSolid-white);
    color: var(--white-text);
}

.notepadImg>img {
    width: 60vw;
}

.html-editor-img>img {
    width: 60vw;
    margin: 1em 0;
}

.bulbExample {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    background-color: var(--white);
    padding: 1em;
}

#bulb {
    width: 10vw;
}

@media screen and (max-width:600px) {
    .structure {
        margin: .5em;
        padding: .5em;
    }

    .structure div {
        padding: .5em 0;
        margin: .5em;
    }

    .notepadImg>img {
        width: 80vw;
    }

    .bulbExample {
        flex-direction: column;
        flex-wrap: wrap;
    }
}